* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
  padding: 0 10px;  
}

img{
    max-width: 100%;
}

header{
    background-color: #4ea0ff;
    background-image: url("../img/pattern.png");
    padding: 90px 10px 10px;
}

.logo {
    width: 300px;
}

h1 {
    font-size: 4.5rem;
}

.grey-text{
    color: #828282;
}

.blue-text{
    color: #23aae5;
}

.subtitle-container{
    font-size: 2rem;
}

figure{
    padding: 30px 0;
}

#tim-img-1{
    width: 1006px;
}

#tim-img-2{
    width: 860px;
}

figcaption{
    font-size: 1.5rem;
}